.hero-banner {
  color: $tht-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $md) {
    height: 712px;
  }
}
.hero-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom, transparent 0%, #005686 100%);
  background-image: -o-linear-gradient(bottom, transparent 0%, #005686 100%);
  background-image: linear-gradient(to top, transparent 0%, #005686 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion-block {
  width: 100%;
  max-width: 310px;
  background-color: $tht-white;
  .img-block {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content-block {
    border-top: 3px solid $tht-blue;
    text-align: center;
    padding: 28px;
    color: $tht-grey;
    font-size: 14px;
    line-height: 1.29;
  }
  .title {
    color: $tht-blue;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1.67px;
    margin-bottom: 20px;
    span {
      color: $tht-light-blue;
      font-size: 17px;
      font-weight: 700;
      font-style: italic;
    }
  }
}
.hor-gradient-bg-block {
  width: 100%;
  @extend .vert-blue-grad;
}
.train-block {
  width: 100%;
  text-align: center;
  @media screen and (min-width: $sm) {
    width: 200px;
  }
  @media screen and (min-width: $md) {
    width: 350px;
  }
  @media screen and (min-width: $lg) {
    width: 450px;
  }
  @media screen and (min-width: $tht-xl) {
    width: 200px;
  }
  h5 {
    margin: 20px 0 0;
    min-height: 68px;
    color: $tht-blue;
  }
  .train-content {
    min-height: 232px;
    margin-bottom: 35px;
  }
  p, ul {    
    color: $tht-grey;
    font-size: 14px;
    line-height: 1.57;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .btn {
    width: 200px;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    line-height: 2.88;
  }
}
.blue-round-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: $tht-light-blue;
  border-radius: 100%;
  line-height: 80px;
}
.location-block {
  text-align: center;
  .location-content {
    padding: 25px;
  }
  h3 {
    line-height: 1.4;
    margin-bottom: 5px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  &.with-img {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
    }
  }
  .btn {
    width: 100%;
  }
}
.gold-gym-block {
  padding: 35px 30px;
  text-align: center;
  h3 {
    margin-bottom:0;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .btn {
    margin-bottom: 35px;
  }
  p {
    margin-top: 35px;
  }
}
.programs-block {
  padding: 95px 0 125px;
  h3 {
    line-height: 1.56;
    margin-bottom: 24px;
  }
  ul {
    margin-left: 0;
    list-style-type: none;
    margin-bottom: 30px;
  }
}
.training-block-round-container {  
  .training-block-round {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(#b3ebf6 0%, #7cd2e9 100%);
    background-image: -o-linear-gradient(#b3ebf6 0%, #7cd2e9 100%);
    background-image: linear-gradient(#b3ebf6 0%, #7cd2e9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }
  h4 {
    letter-spacing: -0.5px;
    margin-bottom: 0;
  }
}
.team-block {
  img {
    width: 100%;
    height: auto;
  }
  .team-block-content {
    border-top: 1px solid $tht-blue;
    padding: 23px 45px 40px;
  }
  h5 {
    color: $tht-light-blue;
    margin-bottom: 0;
    line-height: 1.35;
  }
  p {
    color: $tht-blue;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.67px;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    line-height: 2.88;
  }
}
.cost-block {
  thead {
    background-color: $tht-blue;
    color: $tht-white;
  }
  tbody {
    background-color: $tht-white;
    font-size: 20px;
    color: $tht-grey;
  }
  tr {
    border-bottom: 1px solid $tht-blue;
  }
  td:last-of-type {
    border-left: 1px dashed $tht-blue;
  }
}
.map-block {
  padding: 13px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $lg) {
    flex-direction: row;
  }
  .content-container {
    width: 100%;
    text-align: center;
    div {
      margin-bottom: 50px;   
      @media screen and (min-width: $sm) {
        display: inline-block;
      }
      @media screen and (min-width: $lg) {
        display: block;
      }
    }
  }
  .map-container {
    width: 100%;
    @media screen and (min-width: $lg) {
      width: 530px;
    }
  }
  h3 {
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    line-height: 1.25;
  }
}
.result-block {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $lg) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .img-block {
    width: 100%;
    max-width: 511px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .content-block {
    h2 {
      margin-bottom: 16px;
    }
    p {
      font-size: 20px;
      color: $tht-grey;
      margin-bottom: 20px;
    }
    .color {
      color: $tht-light-blue;
      text-transform: uppercase;
    }
  }
}
.discount-block {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  img:first-of-type {
    width: 59.17%;
  }
  img:nth-of-type(2) {
    width: 38,62%;
  }
}
.start-training-block {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $md) {
    flex-direction: row;
    div {
      width: 50%;
    }
    .content-block {
      padding: 0 64px;
    }
    .img-block {
      padding-left: 35px;
    }
  }
}
.menu-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $tht-white;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    margin-bottom: 25px;
  }
}
.banner-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  li {
    width: 226px;
    height: 121px;
    position: relative;
    background-color: $tht-blue;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $tht-blue;
      transition: all ease 0.3s;
      transform-origin: bottom center;
    }
    &:not(:last-of-type):after {
      content: "";
      width: 1px;
      height: 93px;
      background-color: $tht-white;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
    a {
      color: $tht-white;
      position: relative;
      &:hover, &:active {
        text-decoration: none;
      }
    }
    img {
      transition: all ease 0.3s;
      transform-origin: bottom center;
    }
  }
  .icon {
    height: 78px;
    line-height: 78px;
    display: inline-block;
    img {
      display: inline-block;
    }
  }
  li:hover, li:active {
    img {
      transform: scale(1.3, 1.3);
    }
    &:before {
      transform: scale(1, 1.2);
    }
  }
}
.title-block {
  text-align: center;
  width: 100%;
}