.hero-banner {
  color: $tht-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $md) {
    height: 712px;
  }
}
.hero-logo {
  width: 100px;
  height: auto;
  @media screen and (min-width: $md) {
    width: 166px;
  }
}
.hero-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom, transparent 0%, #005686 100%);
  background-image: -o-linear-gradient(bottom, transparent 0%, #005686 100%);
  background-image: linear-gradient(to top, transparent 0%, #005686 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion-block {
  width: 100%;
  max-width: 310px;
  background-color: $tht-white;
  margin-bottom: 25px;
  @media screen and (min-width: $lg) {
     max-width: 230px;
  }
  @media screen and (min-width: $xl) {
     max-width: 270px;
  }
  @media screen and (min-width: $tht-xl) {
     max-width: 310px;
  }
  .img-block {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content-block {
    border-top: 3px solid $tht-blue;
    text-align: center;
    padding: 28px;
    color: $tht-grey;
    font-size: 14px;
    line-height: 1.29;
  }
  .title {
    color: $tht-blue;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1.67px;
    margin-bottom: 20px;
    span {
      color: $tht-light-blue;
      font-size: 17px;
      font-weight: 700;
      font-style: italic;
    }
  }
}
.hor-gradient-bg-block {
  width: 100%;
  @extend .vert-blue-grad;
}
.train-block {
  width: 80%;
  text-align: center;
  margin-bottom: 45px;
  @media screen and (min-width: $sm) {
    width: 200px;
  }
  @media screen and (min-width: $md) {
    width: 350px;
  }
  @media screen and (min-width: $lg) {
    width: 225px;
  }
  @media screen and (min-width: $tht-xl) {
    width: 200px;
  }
  h5 {
    margin: 20px 0 0;
    min-height: 68px;
    color: $tht-blue;
  }
  .train-content {
    margin-bottom: 35px;
    @media screen and (min-width: $sm) {
      min-height: 232px;
    }
  }
  p, ul {    
    color: $tht-grey;
    font-size: 14px;
    line-height: 1.57;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .btn {
    width: 200px;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    line-height: 2.88;
  }
}
.blue-round-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: $tht-light-blue;
  border-radius: 100%;
  line-height: 80px;
}
.location-block {
  text-align: center;
  background-color: $tht-white;
  .location-content {
    padding: 25px;
  }
  h3 {
    line-height: 1.4;
    margin-bottom: 5px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    color: $tht-grey;
  }
  &.with-img {
    padding: 35px 30px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .btn {
    width: 100%;
  }
}
.gold-gym-block {
  padding: 35px 0;
  text-align: center;
  background-color: $tht-white;
  .gold-gym-block-img {
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  h3 {
    margin-bottom:0;
    color: $tht-blue;
  }
  img {
    width: 100%;
    height: auto;
    //margin-top: 40px;
  }
  .btn {
    //margin-bottom: 35px;
  }
  p {
    margin-top: 35px;
    color: $tht-grey;
  }
}

.programs-block {
  padding: 95px 0 125px;
  h3 {
    line-height: 1.56;
    margin-bottom: 24px;
  }
  ul {
    margin-left: 0;
    list-style-type: none;
    margin-bottom: 30px;
  }
}
.training-block-round-container {
  text-align: center;
  margin-bottom: 45px;
  @media screen and (min-width: $md) {
    margin-bottom: 0;
  }
  .training-block-round {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(#b3ebf6 0%, #7cd2e9 100%);
    background-image: -o-linear-gradient(#b3ebf6 0%, #7cd2e9 100%);
    background-image: linear-gradient(#b3ebf6 0%, #7cd2e9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 35px;
  }
  h4 {
    letter-spacing: -0.5px;
    margin-bottom: 0;
  }
}
.team-block {
  background-color: $tht-white;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: $md) {
    margin-bottom: 60px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .team-block-content {
    border-top: 1px solid $tht-blue;
    padding: 23px 10px 25px;
    text-align: center;
    @media screen and (min-width: $md) {
      padding: 23px 15px 40px;
    }
    @media screen and (min-width: $lg) {
      padding: 23px 20px 40px;
    }
    @media screen and (min-width: $xl) {
      padding: 23px 45px 40px;
    }
  }
  h5 {
    color: $tht-light-blue;
    margin-bottom: 0;
    line-height: 1.35;
  }
  p {
    color: $tht-blue;
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    @media screen and (min-width: $md) {
      font-size: 20px;
      letter-spacing: 1.67px;
    }
  }
  .btn.main-btn {
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    line-height: 2.88;
    @media screen and (min-width: $md) {
      font-size: 17px;
    }
  }
}
.cost-block {
  table {
    margin-bottom: 20px;
  }
  thead {
    background-color: $tht-blue;
    color: $tht-white;    
    th {
      font-size: 16px;
      font-weight: 700;
      font-style: italic;
      line-height: 1.5;
      padding: 15px;
      border: none;
      @media screen and (min-width: $md) {
        font-size: 20px;
        padding: 15px 40px;
      }
    }
  }
  tbody {
    background-color: $tht-white;
    font-size: 16px;
    line-height: 1.5;
    color: $tht-grey;
    @media screen and (min-width: $md) {
      font-size: 20px;
    }
  }
  tr {
    border-bottom: 1px solid $tht-blue;
  }
  td {
    border-top: 1px solid $tht-blue;
    padding: 25px 15px 24px;
    vertical-align: middle;
    @media screen and (min-width: $md) {
      padding: 25px 40px 24px;
    }
    span {
      font-size: 14px;
    }
    a {
      text-decoration: underline;
      font-weight: 600;
    }
  }
  td:last-of-type {
    border-left: 1px dashed $tht-blue;
    padding: 15px 30px 14px;
    text-align: center;
  }
  .half-td-table {
    td {
      width: 50%;
      line-height: 1.3;
      padding: 0;
      div {
        min-height: 98px;
        padding: 10px 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: $md) {
          padding: 10px 30px 10px;
        }
      }
    }
  }
}
.map-block {
  padding: 13px;
  display: flex;
  flex-direction: column;
  background-color: $tht-white;
  @media screen and (min-width: $sm) {
    flex-direction: row;
    align-items: center;
  }
  .content-container {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    @media screen and (min-width: $md) {
      width: 530px;
      padding: 0;
    }
    div {
      @media screen and (min-width: $sm) {
        display: inline-block;
      }
      @media screen and (min-width: $md) {
        display: block;
      }
    }
    div:not(:last-of-type) {
      margin-bottom: 25px;
      @media screen and (min-width: $md) {
        margin-bottom: 50px;
      }
    }
  }
  .map-container {
    width: 100%;
    @media screen and (min-width: $lg) {
      width: 530px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  h3 {
    margin-bottom: 15px;
    color: $tht-blue;
    @media screen and (min-width: $md) {
       margin-bottom: 30px;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.25;
    color: $tht-grey;
    @media screen and (min-width: $lg) {
      font-size: 20px;
    }
  }
}
.result-block {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  @media screen and (min-width: $lg) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .img-block {
    width: 100%;
    max-width: 511px;
    margin-top: 20px;
    @media screen and (min-width: $md) {
      margin-top: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .content-block {
    text-align: center;
    padding: 0 15px;
    @media screen and (min-width: $lg) {
      padding-left: 125px;
    }
    h2 {
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      color: $tht-grey;
      margin-bottom: 20px;
      @media screen and (min-width: $md) {
        font-size: 16px;
      }
      @media screen and (min-width: $lg) {
        font-size: 20px;
      }
    }
    .color {
      color: $tht-light-blue;
      text-transform: uppercase;
    }
  }
}
.discount-block {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  img:first-of-type {
     width: 100%;
     margin-bottom: 20px;
     @media screen and (min-width: $sm) {
      width: 59.17%;
      margin-bottom: 0;
    }
  }
  img:nth-of-type(2), .text-block {
     width: 100%;
     @media screen and (min-width: $sm) {
      width: 38.62%;
    }
  }
  .text-block {
    background-image: linear-gradient(129deg, rgba(124, 210, 233, 0.81) 0%, #005686 100%);
    color: $tht-white;
    font-style: italic;
    padding: 20px;
    text-align: center;
    @media screen and (min-width: $sm) {
      padding: 15px;
    }
    @media screen and (min-width: $md) {
      padding: 40px;
    }
    @media screen and (min-width: $lg) {
      padding: 60px;
    }
    @media screen and (min-width: $xl) {
      padding: 85px;
    }
    p {
      font-size: 18px;
      @media screen and (min-width: $sm) {
        font-size: 20px;
      }
      @media screen and (min-width: $md) {
        font-size: 25px;
      }
      span {
        font-weight: 700;
        font-size: 20px;
        @media screen and (min-width: $sm) {
          font-size: 25px;
        }
        @media screen and (min-width: $md) {
          font-size: 30px;
        }
      }
    }
    .btn.main-btn {
      font-size: 17px;
      font-weight: 700;
      width: 200px;
      padding: 12px;
    }
  }
}
.start-training-block {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $md) {
    flex-direction: row;
    div {
      width: 50%;
    }
    .content-block {
      padding: 0 64px;
    }
    .img-block {
      padding-left: 35px;
    }
  }
}
.menu-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $tht-white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
    @media screen and (min-width: $md) {
      font-size: 17px;
      letter-spacing: 0.78px;
    }
  }
}
.banner-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  justify-content: center;
  li {
    width: 140px;
    height: 131px;
    position: relative;
    background-color: $tht-blue;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    @media screen and (max-width: 991.9px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: $md) {
      width: 185px;
      font-size: 14px;
      font-weight: 500;
    }
    @media screen and (min-width: $lg) {
      width: 226px;
      height: 121px;
      font-size: 17px;
      font-weight: 700;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $tht-blue;
      transition: all ease 0.3s;
      transform-origin: bottom center;
    }
    @media screen and (max-width: 575.9px) {
      &:nth-child(3):before, &:nth-child(4):before {
        content: "";
        width: 120px;
        height: 1px;
        background-color: $tht-white;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 10px;
      }
      &:nth-child(odd):after {
        content: "";
        width: 1px;
        height: 93px;
        background-color: $tht-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    @media screen and (min-width: $sm) {
      &:not(:last-of-type):after {
        content: "";
        width: 1px;
        height: 93px;
        background-color: $tht-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
    a {
      color: $tht-white;
      position: relative;
      &:hover, &:active {
        text-decoration: none;
      }
    }
    img {
      transition: all ease 0.3s;
      transform-origin: bottom center;
    }
  }
  .icon {
    display: inline-block;
    margin-bottom: 15px;
    @media screen and (min-width: $md) {
      height: 78px;
      line-height: 78px;
      margin-bottom: 0;
    }
    img {
      display: inline-block;
    }
  }
  li:hover, li:active {
    img {
      @media screen and (min-width: $md) {
        transform: scale(1.3, 1.3);
      }
    }
    &:before {
      @media screen and (min-width: $md) {
        transform: scale(1, 1.2);
      }
    }
  }
}
.title-block {
  text-align: center;
  width: 100%;
}
.gg-container {
  padding: 100px 0;
}
.video-section {
  iframe {
    height: 300px;
    @media screen and (min-width: $md) {
      height: 450px;
    }
    @media screen and (min-width: $lg) {
      height: 550px;
    }
    @media screen and (min-width: $xl) {
      height: 614px;
    }
  }
}
.btn-wrapper.full-width-btn-wrap {
  .btn.main-btn {
    width: 100%;
    padding: 40px 0;
    font-size: 14px;
    @media screen and (min-width: $sm) {
      font-size: 25px;
    }
    i {
      font-weight: bold;
    }
    span {
      margin-left: 10px;
      width: 17px;
      height: 14px;
      display: inline-block;
      @media screen and (min-width: $sm) {
        margin-left: 30px;
        width: 32px;
        height: 27px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}