.gg-landing-page {
  .gg-landing-hero-banner {
    height: 450px;
    padding-bottom: 67px;
    background-image: linear-gradient(to top, rgba(124, 210, 233, 0.69) 0%, #005686 100%);
    @media screen and (min-width: $md) {
      height: 837px;
      padding-bottom: 367px;
      margin-bottom: -300px;
    }
    @media screen and (min-width: $lg) {
      margin-bottom: -405px;
      height: 880px;
      padding-bottom: 430px;
    }
    @media screen and (min-width: $xl) {
      margin-bottom: -236px;
      height: 837px;
      padding-bottom: 367px;
    }
  }
  h1 {
    margin-top: 30px;
  }
}
.gg-landing-section {
  padding: 40px 0;
  @media screen and (min-width: $md) {
    padding-bottom: 100px;
  }
}
.gg-block-landing {
  padding: 25px 20px;
  text-align: center;
  background-color: $tht-white;
  margin-bottom: 25px;
  @media screen and (min-width: $md) {
    padding: 35px 30px;
    margin-bottom: 0;
  }
  h3 {
    margin-bottom:0;
    color: $tht-blue;
  }
  img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    @media screen and (min-width: $lg) {
      margin-top: 40px;
    }
  }
  .btn {
    margin-bottom: 15px;
    padding: 15px 10px;
    font-size: 16px;
    line-height: 1;
    @media screen and (min-width: $lg) {
      padding: 34.5px 10px;
      font-size: 25px;
      margin-bottom: 35px;
    }
    span {
      width: 20px;
      height: 13px;
      display: inline-block;
      margin-left: 15px;
      @media screen and (min-width: $lg) {
        width: 32px;
        height: 27px;
      }
      img {
        margin-top: 0;
      }
    }
  }
  p {
    margin-top: 10px;
    margin-bottom: 0;
    color: $tht-grey;
    font-size: 15px;
    line-height: 1.5;
    @media screen and (min-width: $lg) {
      font-size: 20px;
      margin-top: 35px;
    }
  }
}
///////////////////////////////////////////////////////

.locations-landing-page {
  padding-bottom: 10px;
  .grey-gradient-bg {
    padding-bottom: 85px;
  }
  .container {
    @media screen and (min-width: 1400px) {
      min-width: 1356px;
      max-width: 1356px;
    }
  }
}
.locations-landing-hero-banner {
  background-image: linear-gradient(to top, rgba(124, 210, 233, 0.69) 0%, #005686 100%);
  height: 450px;
  padding-bottom: 200px;
  margin-bottom: -180px;
  @media screen and (min-width: $md) {
    height: 450px;
    padding-bottom: 180px;
    margin-bottom: -130px;
  }
  @media screen and (min-width: $lg) {
    height: 550px;
    padding-bottom: 255px;
    margin-bottom: -180px;
  }
  @media screen and (min-width: $xl) {
    height: 600px;
    padding-bottom: 305px;
    margin-bottom: -215px;
  }
  @media screen and (min-width: 1400px) {
    height: 650px;
    padding-bottom: 355px;
    margin-bottom: -265px;
  }
}
.locations-landing-page {
  .location-block {
    text-align: center;
    background-color: $tht-white;
    margin-bottom: 25px;
    @media screen and (min-width: $lg) {
      margin-bottom: 60px;
    }
    &.location-block-with-text {
      .location-content {
        padding: 30px 20px;
        @media screen and (min-width: $md) {
          min-height: 166px;
        }
        @media screen and (min-width: $lg) {
          min-height: 246px;
          padding: 50px 40px;
        }
        @media screen and (min-width: $xl) {
          padding: 50px 40px;
        }
      }
      .btn {
        padding: 15px 10px;
        font-size: 16px;
        line-height: 1;
        @media screen and (min-width: $lg) {
          padding: 34.5px 10px;
          font-size: 25px;
        }
        span {
          width: 20px;
          height: 13px;
          display: inline-block;
          margin-left: 15px;
          @media screen and (min-width: $lg) {
            width: 32px;
            height: 27px;
          }
          img {
            margin-top: 0;
            padding: 0;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .location-content {
      padding: 20px 25px;
      @media screen and (min-width: $md) {
        padding: 15px;
      }
      @media screen and (min-width: $lg) {
        padding: 25px;
        min-height: 215px;
      }
    }
    h3 {
      line-height: 1.3;
      margin-bottom: 10px;
      color: $tht-blue;
      @media screen and (min-width: $md) {
        font-size: 20px;
      }
      @media screen and (min-width: $lg) {
        font-size: 26px;
      }
      @media screen and (min-width: $xl) {
        font-size: 32px;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.5;
      color: $tht-grey;
      margin-bottom: 0;
      @media screen and (min-width: $lg) {
        font-size: 20px;
      }
    }
    &.with-img {
      padding-top: 25px;
      @media screen and (min-width: $md) {
        padding-top: 15px;
      }
      @media screen and (min-width: $lg) {
        padding-top: 25px;
      }
      img {
        width: 100%;
        height: auto;
        padding: 0 25px;
        @media screen and (min-width: $md) {
          padding: 0 15px;
        }
        @media screen and (min-width: $lg) {
          padding: 0 25px;
        }
      }
    }
    .btn {
      padding: 15px 10px;
      font-size: 16px;
      line-height: 1;
      @media screen and (min-width: $lg) {
        padding: 34.5px 10px;
        font-size: 25px;
      }
      span {
        width: 20px;
        height: 13px;
        display: inline-block;
        margin-left: 15px;
        @media screen and (min-width: $lg) {
          width: 32px;
          height: 27px;
        }
        img {
          margin-top: 0;
          padding: 0;
        }
      }
    }
  }
}
.landing-home-training {
  img, .content-block {
    width: 100%;
    @media screen and (min-width: $md) {
      width: 50%;
    }
  }
  .landing-home-training-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $md) {
      flex-direction: row;
    }
  }
  .content-block {
    background-image: linear-gradient(139deg, rgba(124, 210, 233, 0.81) 0%, #005686 100%);
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: $lg) {
      padding: 40px 35px;
    }
    @media screen and (min-width: $xl) {
      padding: 60px 35px;
    }
    h3 {
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 0;
      @media screen and (min-width: $lg) {
        font-size: 20px;
      }
    }
  }
}