.saint-lambert-page {
  .discount-block {
    @media screen and (min-width: $sm) {
      align-items: stretch;
    }
  }
  .team-section {
    margin-bottom: 0;
  }
  .map-block {
    margin-top: 90px;
  }
}
.saint-lambert-hero-banner {
  background-image: url(/src/images/centre_de_conditionnement.png);
  padding-bottom: 70px;
  @media screen and (max-width: 767.9px) {
    height: 450px;
  }
  h1 {
    margin-bottom: 45px;
     @media screen and (min-width: $md) {
      margin-bottom: 105px;
    }
  }
}
.check-list {
  margin-bottom: 100px;
}
.check-list-content {
  padding: 15px;
  @media screen and (min-width: $md) {
    padding: 15px 20px;
  }
  @media screen and (min-width: $lg) {
    padding: 35px 55px;
  }
  @media screen and (min-width: $xl) {
    padding: 55px 85px;
  }
  h3 {
    color: $tht-blue;
    margin-bottom: 25px;
  }
}
.part-checked-list {
  margin-bottom: 0;
  color: $tht-grey;
  padding-left: 30px;
  li {
    list-style-type: none;
    position: relative;
    font-size: 16px;
    line-height: 2.2;
    @media screen and (min-width: $md) {
      font-size: 20px;
    }
    a {
      font-weight: 700;
    }
    &:before {
      position: absolute;
      left: -30px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $tht-light-blue;
      line-height: 35px;
    }
  }
  .check-li:before {
    content: "\f00c";
  }
  .not-check-li:before {
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 5px;
    border: 3px solid $tht-light-blue;
    top: 7px;
  }
}
.cost-section {
  p, ul {
    color: $tht-grey;
  }
  h5 {
    color: $tht-blue;
    margin-bottom: 16px;
  }
  .title-block {
    margin-bottom: 30px;
    +p {
      text-align: center;
      font-size: 14px;
      line-height: 1.75;
      margin-bottom: 50px;
      padding: 0 10px;
      @media screen and (min-width: $md) {
        font-size: 16px;
      }
      @media screen and (min-width: $lg) {
        font-size: 18px;
      }
      @media screen and (min-width: $xl) {
        font-size: 20px;
      }
    }
  }
  ul {
    padding-left: 15px;
    margin-bottom: 20px;
    li {
      list-style-type: none;
      position: relative;
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: 5px;
      &:before {
        content: "";
        position: absolute;
        left: -15px;
        top: 9px;
        width: 3px;
        height: 3px;
        border-right: 5px;
        background-color: $tht-blue;
      }
    }
    a {
      font-weight: 700;
    }
  }
}