h1 {
  font-size: 35px;
  color: #fff;
  @media screen and (min-width: $sm) {
    font-size: 50px;
  }
  @media screen and (min-width: $md) {
    font-size: 70px;
  }
}
h2 {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  @media screen and (min-width: $md) {
    font-size: 40px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  @media screen and (min-width: $md) {
    font-size: 32px;
  }
}
h4 {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}
h5 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  @media screen and (min-width: $sm) {
    font-size: 17px;
  }
}
h6 {
  font-size: 12px;
  font-weight: 600;
}
p {
  font-size: 14px;
  .big {
    font-size: 20px;
  }
}



